@import 'syntax-variables';

@padding: 1em;
@margin: @padding - 0.05em;
@padding-bigger: 1.5em;

.git-log {
    overflow: auto;
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
    background-color: @syntax-background-color;
    color: @syntax-text-color;
    overflow-x: scroll;

    .panels {
        display: -webkit-flex;
        -webkit-flex-direction: row;
    }

    .main {        
        white-space: nowrap;
    }               

    .column {
        text-align: center;
        flex: 1 0;
        padding: 0 @padding;
    }

    .list {
        position: relative;
        text-align: left;
        margin: 0 -@margin;
    }

    .graph {
        z-index: 2;
        flex: 0 0 auto !important;
    }

    svg {
        margin: 0 1em;
    }

    .table {
        width: 100%;
        display: flex;
        flex: 1 0;
    }

    h2 {
        font-size: 1.1em;
        border-bottom: rgba(255,255,255,.5)1px solid;
        margin: 0px;
        background-color: rgba(0,0,0,.3);
        padding: 10px 0;
        text-align: center;
    }

    p {
        margin: 0px;
        line-height: inherit;
        padding: 0 @padding;
        position: relative;

        &:nth-child(odd) {
            background: rgba(0,0,0,0.3);
        }

        &:nth-child(even) {
            //background: rgba(0,0,0,0.3);
        }

        span {
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }
    }

    .comments {
        flex-basis: 70%;
        p::before, p::after {
            content: "";
            display: block;
            position: absolute;
            top: 0px;
            bottom: 0px;
            background: inherit;
        }
        p::after {
            z-index: 4;
            opacity: 0;
        }
    }

    .commit, .date, .author {
        flex-basis: 10%;
    }

    .commit p {
        padding-left: @padding-bigger;
    }

    .resize-handle {
        position: absolute;
        width: 10px;
        top: 0;
        bottom: 0;
        right: -5px;
        cursor: col-resize;
    }
}
